<launch>
  <arg name="INPUT_IMAGE" default="/kinect_head/rgb/image_raw" />
  <arg name="MANAGER" default="sample_manager" />
  <arg name="camera_height" default="5.0" />
  <arg name="virtual_camera_frame" default="virtual_camera_frame" />
    
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet"
        args="manager"/>

  <node name="virtual_camera_mono"
        pkg="jsk_perception" type="virtual_camera_mono"
        output="screen"
        clear_params="true">
    <remap from="image" to="$(arg INPUT_IMAGE)"/>
    <rosparam subst_value="true">
      frame_id: base_link
      child_frame_id: $(arg virtual_camera_frame)
      initial_pos: [0.0, 0.0, $(arg camera_height)]
      initial_rot: [0.0, 1.0, 0.0, 0.0]
    </rosparam>
  </node>

  <node name="info_to_depth_image"
        pkg="teach_spot" type="info_to_depth_image.py">
    <remap from="~input" to="/virtual_camera_mono/camera_info"/>
    <rosparam subst_value="true">
      frame_height: $(arg camera_height)
    </rosparam>
  </node>

  <node name="robot_to_mask_image"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_perception/RobotToMaskImage"
        output="screen">
    <!-- args="load jsk_perception/RobotToMaskImage $(arg MANAGER)" > -->
    <remap from="~input/camera_info" to="/virtual_camera_mono/camera_info"/>
    <!-- <remap from="~input/camera_info" to="/kinect_head/rgb/camera_info" /> -->
    <rosparam>
      self_see_links:
        - name: base_link
        - name: l_shoulder_pan_link
        - name: l_shoulder_lift_link
        - name: l_upper_arm_link
        - name: l_upper_arm_roll_link
        - name: l_elbow_flex_link
        - name: l_forearm_link
        - name: l_forearm_roll_link
        - name: l_wrist_flex_link
        - name: l_wrist_roll_link
        - name: l_gripper_palm_link
        - name: l_gripper_l_finger_link
        - name: l_gripper_l_finger_tip_link
        - name: l_gripper_r_finger_link
        - name: l_gripper_r_finger_tip_link
        - name: r_shoulder_pan_link
        - name: r_shoulder_lift_link
        - name: r_upper_arm_link
        - name: r_upper_arm_roll_link
        - name: r_elbow_flex_link
        - name: r_forearm_link
        - name: r_forearm_roll_link
        - name: r_wrist_flex_link
        - name: r_wrist_roll_link
        - name: r_gripper_palm_link
        - name: r_gripper_l_finger_link
        - name: r_gripper_l_finger_tip_link
        - name: r_gripper_r_finger_link
        - name: r_gripper_r_finger_tip_link
      self_see_default_padding: 0.0
    </rosparam>
  </node>

  <node name="apply_mask_image"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_perception/ApplyMaskImage $(arg MANAGER)" >
    <remap from="~input" to="/info_to_depth_image/output" />
    <remap from="~input/mask" to="/robot_to_mask_image/output" />
    <rosparam>
      approximate_sync: true
      negative: true
      clip: false
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="depth_image_to_pointcloud"
        args="standalone depth_image_proc/point_cloud_xyz $(arg MANAGER)">
    <remap from="/apply_mask_image/camera_info" to="/virtual_camera_mono/camera_info"/>
    <remap from="image_rect" to="/apply_mask_image/output"/>
    <remap from="points" to="/footpoints"/>
    <rosparam>
      queue_size: 100
    </rosparam>
  </node>

  <node name="organized_multi_plane_segmentation"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/OrganizedMultiPlaneSegmentation $(arg MANAGER)"
        clear_params="true">
    <remap from="~input" to="/footpoints"/>
    <rosparam>
      publish_normal: true
      min_size: 1
      distance_threashold: 0.3
    </rosparam>
  </node>

  <node name="polygon_array_transformer"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl_utils/PolygonArrayTransformer $(arg MANAGER)" >
    <remap from="~input_polygons" to="/organized_multi_plane_segmentation/output_nonconnected_polygon"/>
    <remap from="~input_coefficients" to="/organized_multi_plane_segmentation/output_nonconnected_coefficients"/>
    <rosparam>
      frame_id: base_link
    </rosparam>
  </node>

  <node name="polygon_array_to_polygon"
        pkg="jsk_recognition_utils" type="polygon_array_to_polygon.py"
        output="screen">
    <remap from="~input" to="/polygon_array_transformer/output_polygons"/>
    <remap from="~output" to="/dynamic_footprint"/>
    <rosparam>
      index: 1
    </rosparam>
  </node>

  <node name="set_footprint_topic"
        pkg="teach_spot" type="set_footprint_topic_pr2.py"
        output="screen">
  </node>
  
</launch>
