<launch>
  
  <arg name="gui" default="false" />
  <arg name="gpu" default="-1" />
  <arg name="arm" default="larm" />
  <arg name="input_base_scan" value="/base_scan_filtered" />
  <arg name="input_tilt_scan" value="/tilt_scan_filtered/navigation" />

  <arg name="input_camera_info" value="/kinect_head/rgb/camera_info" />
  <arg name="input_depth_image" value="/kinect_head/depth_registered/hw_registered/image_rect" />
  <arg name="input_pose_array" value="/edgetpu_human_pose_estimator/output/poses" />

  <!-- <arg name="manager_name" default="filter_manager" /> -->
  <!-- <arg name="manager" default="/$(arg manager_name)" /> -->
  <arg name="manager" default="/kinect_head/kinect_head_c2_nodelet_manager" />
  <!-- <node name="$(arg manager_name)" -->
  <!--       pkg="nodelet" type="nodelet" -->
  <!--       args="manager"/> -->

  <node name="set_params"
        pkg="teach_spot" type="set_params_pr2.py"
        output="screen" />

  <include file="$(find teach_spot)/launch/dynamic_footprint.launch" >
    <arg name="gui" value="false" />
  </include>

  <include file="$(find pr2_machine)/pr2.machine" />

  <node name="dr_spaam_lidar_person_detection"
        pkg="jsk_perception" type="lidar_person_detection_node.py"
        output="screen" machine="c2">
    <remap from="~input" to="/base_scan" />
    <rosparam subst_value="true" >
      map_link: /map
      weight_file: "$(find jsk_perception)/trained_data/lidar_person_detection/ckpt_jrdb_ann_dr_spaam_e20.pth"
      detector_model: "DR-SPAAM"
      conf_thresh: 0.8
      stride: 1
      panoramic_scan: false
      gpu: -1
    </rosparam>
  </node>


  <node name="person_pose_array_to_boxes"
        pkg="teach_spot" type="person_pose_array_to_boxes.py">
    <remap from="~input" to="/dr_spaam_lidar_person_detection/output" />
    <rosparam>
      target_arm: $(arg arm)
      base_frame_id: base_link
    </rosparam>
  </node>

  <group ns="filter_base_laser_scan" >
    <node name="attention_clipper"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/AttentionClipper $(arg manager)" >
      <remap from="~input/points" to="$(arg input_base_scan)" />
      <remap from="~input/box_array" to="/person_pose_array_to_boxes/output" />
      <rosparam>
        use_multiple_attention: true
        negative: true
        approximate_sync: true
        queue_size: 1000
      </rosparam>
    </node>

    <node name="extract_indices"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ExtractIndices $(arg manager)">
      <remap from="~input" to="$(arg input_base_scan)" />
      <remap from="~indices" to="attention_clipper/output/point_indices" />
      <remap from="~output" to="/base_scan_filtered_non_human" />
      <rosparam>
        keep_organized: true
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="pointcloud_mux"
          pkg="topic_tools" type="mux"
          args="$(arg input_base_scan)_mux /base_scan_filtered_non_human $(arg input_base_scan)" >
      <remap from="mux" to="pointcloud_mux"/>
    </node>

    <node name="mux_to_scan"
          pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"
          respawn="true" output="screen">
      <remap from="cloud_in" to="/base_scan_filtered_non_human"/>
      <remap from="scan" to="$(arg input_base_scan)_mux/scan"/>
      <rosparam>
        min_height: 0.25
        max_height: 0.35
        angle_min: -2.26892805099
        angle_max: 2.26456475258
        angle_increment: 0.00436332309619
        scan_time: 0.0500000007451
        range_min: 0.023
        range_max: 60.0
        concurrency_level: 0
      </rosparam>
    </node>
  </group>

  <group ns="filter_tilt_laser_scan" >
    <node name="attention_clipper"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/AttentionClipper $(arg manager)" >
      <remap from="~input/points" to="$(arg input_tilt_scan)" />
      <remap from="~input/box_array" to="/person_pose_array_to_boxes/output" />
      <rosparam>
        use_multiple_attention: true
        negative: true
        approximate_sync: true
        queue_size: 1000
      </rosparam>
    </node>

    <node name="extract_indices"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ExtractIndices $(arg manager)">
      <remap from="~input" to="$(arg input_tilt_scan)" />
      <remap from="~indices" to="attention_clipper/output/point_indices" />
      <remap from="~output" to="/tilt_scan_filtered_non_human" />
      <rosparam>
        keep_organized: true
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="pointcloud_mux"
          pkg="topic_tools" type="mux"
          args="/tilt_scan_filtered_mux /tilt_scan_filtered_non_human $(arg input_tilt_scan)" >
      <remap from="mux" to="pointcloud_mux"/>
    </node>
  </group>

  <group if="$(arg gui)" >
    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          args="-d $(find teach_spot)/launch/config/human_filter.rviz" >
    </node>
  </group>
</launch>

